.hint {
  position: fixed;
  right: -0.5em;
  top: 12.65em;
  max-width: 125px;
  background: #1976d2db;
  border-right: 0;
  border-radius: 0.5em;
  z-index: 99;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-right: 0.5em;
  padding-left: 1em;
  animation: slideIn 1s;
  font-size: 0.8rem;
  cursor: default;
}

.slidein {
  animation: slideIn 1s;
}

.slideout {
  animation: slideOut 1s;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
